.places__container {
    max-width: 70%;
    display: grid;
    gap: 48px;
    grid-template-columns: 50% 50%;
    grid-template-rows: .5fr 1fr .5fr;
    box-sizing: content-box;
    margin: 0 auto 80px;
    grid-template-areas: 
    "title website"
    "image paragraph"
    "button .";
}

.places__item {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}

.places__title {
    font-weight: bolder;
    font-size: 72px;
    line-height: 1.15;
    color: #FFFFFF;
    margin: 0;
}

.places__image {
    max-width: 460px;
    min-width: 0;
    max-height: 460px;
    min-height: 0;
    width: 100%;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

.places__artist {
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.places__url-heading {
    font-size: 12px;
    line-height: 1.15;
    text-transform: uppercase;
    color: #AAAAAA;
    text-decoration: none;
    margin-bottom: 8px;
}

.places__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-top: 0;
}


.places__button {
    width: max-content;
    padding: 13px 20px;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #FFFFFF;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.15;
    text-align: center;

}

.places__button:hover {
    background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

.places__item:nth-child(1) {
    display: flex;
    align-items: flex-end;
    grid-area: title;
}

.places__item:nth-child(2) {
    display: flex;
    align-items: flex-end;

}

.places__item:nth-child(3) {
    grid-area: image;
}

.places__item:nth-child(4) {
    grid-row: span 2;
    margin: 0 0 30px;
    grid-area: paragraph;
}

.places__item:nth-child(5) {
    grid-area: button;
}

@media screen and (max-width: 1024px) {
    .places__container {
        max-width: 720px;
        row-gap: 28px;
        grid-template-rows: 1fr 4fr 3fr;
        margin: 0 auto 50px;
    }
    
    .places__title {
    max-width: 340px;
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    }

    .places__website {
    max-width: 352px;
    width: 100%;
    }

    .places__image {
        max-width: 340px;
        width: 100%;
        height: auto;
    }

    .places__paragraph {
    max-width: 352px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    }

}

@media screen and (max-width: 768px) {
    .places__container {
        margin: 0 24px 50px;
        max-width: 720px;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 544px) {
    .places__container{
        max-width: 320px;
        gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        grid-template-areas: 
        "title"
        "website"
        "image"
        "item"
        "button";
        margin: 0 auto 50px;
        box-sizing: border-box;
    }

    .places__title {
        max-width: 288px;
        width: 100%;
        min-height: 0;
        height: 100%;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        grid-area: title;
    }

    .places__website {
        max-width: 288px;
        width: 100%;
        max-height: 89px;
        height: 100%;
        grid-area: website;
    }

    .places__image {
        max-width: 320px;
        width: 100%;
        height: auto;
        grid-area: image;
    }

    .places__paragraph {
    max-width: 288px;
    width: 100%;
    max-height: 260px;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    }

    .places__item {
        grid-area: item;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 320px) {
    .places__container {
        max-width: 320px;
        margin-left: 16px;
        margin-right: 16px;
    }
}